@import '../utils/variables.scss';

.user-dashboard {
    margin: auto;
    width: 80%;
    .user-infos {
        margin-bottom: 80px;
        h2 {
            font-size: 48px;
            font-weight: 600;
            margin-bottom: 40px;
            .firstname {
                color: red;
            }
        }
    }
    .user-stats {
        display: flex;
        flex-direction: row;
        .user-stats-graph {
            width: 85%;
            .maingraph {
                background-color: #FBFBFB;
                border-radius: 10px;
                .legend {
                    display:flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-right: 60px;
                    h3 {
                        margin-left: 20px;
                        font-weight: 500;
                        font-size: 18px;
                    }
                    .legend-item {
                        display: flex;
                        flex-direction: row;
                        width: 30%;
                        justify-content: space-between;
                        p {
                            font-size: 18px;
                            .black-circle {
                                width: 10px;
                                height: 10px;
                                border-radius: 50%;
                                background-color: black;
                                margin-right: 10px;
                            }
                            .red-circle {
                                width: 10px;
                                height: 10px;
                                border-radius: 50%;
                                background-color: red;
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
            .secondgraph {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .custom-tooltip {
                    background-color: white;
                }
            }
            canvas {
                width: 100%;
                height: 100%;
            }
        }
        .user-stats-card {
            width: 15%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .stats {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                svg {
                    margin: auto;
                }
                .count {
                    width: 70%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    .user-stats-card-value {
                        font-weight: bold;
                        font-size: 20px;
                        line-height: 24px;
                        color: black;
                        margin-bottom: 2px;
                    }
                }
            }
        }

    }
}
