@import '../utils/variables.scss';

.users {
    margin: auto;
    .link {
        color: black;
        text-decoration: none;
        margin: 10px;
        &:hover {
            text-decoration: underline;
        }
    }
}

